// breakpoints
$small:     320px;
$medium:    480px;
$large:     980px;
$exlarge:   2000px;

// Colors

// TODO: edit these
$black:     #000;
$grey:      #CCC;
$lightgrey: #989898;
$white:     #FFF;


// Vintage Romantic
$dark:          #260126;
$brown:         #59323C;
$yellow:        #F2EEB3;
$tan:           #BFAF80;
$light-brown:   #8C6954;
$grey:          #E9E9E9;
$dark-grey:     rgba(0,0,0,0.54);
$blue:          #4285f4;

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');
